<ul class='c-social-widget o-plain-list'>
  <li class='c-social-widget__item'>
    <a href='https://twitter.com/thepaulmcbride' class='c-social-widget__link' target='_blank'>
      <span data-icon='ei-sc-twitter' class='c-social-widget__icon' data-size='s'></span>
    </a>
  </li>
  <li class='c-social-widget__item'>
    <a href='https://facebook.com/thepaulmcbride' class='c-social-widget__link' target='_blank'>
      <span data-icon='ei-sc-facebook' class='c-social-widget__icon' data-size='s'></span>
    </a>
  </li>
  <li class='c-social-widget__item'>
    <a href='https://instagram.com/thepaulmcbride' class='c-social-widget__link' target='_blank'>
      <span data-icon='ei-sc-instagram' class='c-social-widget__icon' data-size='s'></span>
    </a>
  </li>
  <!-- <li class='c-social-widget__item'>
    <a href='https://codepen.io/thepaulmcbride' class='c-social-widget__link' target='_blank'>
      <span data-icon='ei-sc-codepen' class='c-social-widget__icon' data-size='s'></span>
    </a>
  </li> -->
  <li class='c-social-widget__item'>
    <a href='https://github.com/thepaulmcbride' class='c-social-widget__link' target='_blank' class='block'>
      <span data-icon='ei-sc-github' class='c-social-widget__icon' data-size='s'></span>
    </a>
  </li>
</ul>
