<form method="post" action="/subscribe/" class="c-subscribe-form">
  <input class="confirm" type="hidden" name="confirm">
  <input class="location" type="hidden" name="location">
  <input class="referrer" type="hidden" name="referrer">

  <div class="form-group">
    <input class="c-subscribe-form__input" type="email" name="email" placeholder="Email">
  </div>
  <button class="c-subscribe-form__btn c-btn c-btn--full c-btn--small" type="submit">Subscribe</button>
</form>
