<div class="c-subscribe">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center">
      <h5>Join the Newsletter to Receive the Latest Updates in Your Inbox.</h5>
      <form method="post" action="/subscribe/" class="c-subscribe-form">
          <input class="confirm" type="hidden" name="confirm">
          <input class="location" type="hidden" name="location" value="http://aspire.aspirethemes.com/if-you-have-an-opportunity-to-use-your-voice-you-should-use-it-all-the-time/">
          <input class="referrer" type="hidden" name="referrer" value="http://aspire.aspirethemes.com/">

          <div class="form-group">
            <input class="c-subscribe-form__input" type="email" name="email" placeholder="Email">
          </div>
          <button class="c-subscribe-form__btn c-btn c-btn--full" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
