<div class="c-subscribe">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center">
      <h5>Join the Newsletter to Receive the Latest Updates in Your Inbox.</h5>

      <form
        action="https://buttondown.email/api/emails/embed-subscribe/thepaulmcbride"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/thepaulmcbride', 'popupwindow')"
        class="embeddable-buttondown-form c-subscribe-form"
      >
        <input type="email" name="email" id="bd-email" class="c-subscribe-form__input" placeholder="Email Address" required>
        <input type="hidden" value="1" name="embed"/>
        <button class="c-subscribe-form__btn c-btn c-btn--full c-btn--small" id="ck_subscribe_button">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>
