/*------------------------------------*\
  Components > Author
\*------------------------------------*/

.c-author {
  padding: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);
  background-color: $bg-gray;

  @include mq($from: desktop) {
    display: flex;
    align-items: center;
  }

  &__img {
    float: left;
    margin-right: $base-spacing-unit;
    border-radius: 100%;
    height: quadruple($base-spacing-unit);
    width: quadruple($base-spacing-unit);

    @include mq($from: desktop) {
      margin-right: double($base-spacing-unit);
      height: quadruple($base-spacing-unit) + double($base-spacing-unit);
      width: quadruple($base-spacing-unit) + double($base-spacing-unit);
    }

    @include mq($until: tablet) {
      margin-bottom: half($base-spacing-unit);
    }
  }

  &__body {
    @include mq($from: tablet) {
      overflow: hidden;
    }
  }

  &__name {
    margin-bottom: half($base-spacing-unit);
    font-family: $font-sans-serif;
  }

  &__bio {
    margin-bottom: half($base-spacing-unit);
    font-size: $font-size-medium;
    font-family: $font-sans-serif;
    line-height: $line-height-medium;
  }
}

.c-author-links {
  font-family: $font-sans-serif;

  &__item {
    display: inline-block;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }

  &__icon {
    vertical-align: middle;
    fill: $color-text;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }
}