/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  &__date {
    color: $color-gray;
    font-size: $font-size-small;
  }

  &__title {
    font-weight: $font-weight-regular;
    line-height: initial;

    @include mq($from: desktop) {
      font-size: $font-size-h1;
    }
  }
}

.c-post-hero {
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-bottom: 45%;
    position: relative;
  }

  &__sharp {
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__small {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    filter: blur(20px);
    transform:scale(1.1,1.1);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
