/*------------------------------------*\
  Components > Related
\*------------------------------------*/

.c-related {
  padding: $base-spacing-unit 0 0;

  @include mq($from: tablet) {
    padding: double($base-spacing-unit) 0 $base-spacing-unit 0;
  }

  &__title {
    padding-bottom: half($base-spacing-unit);
    margin-bottom: $base-spacing-unit;
    border-bottom: 1px solid $color-border;

    @include mq($from: tablet) {
      padding-bottom: $base-spacing-unit;
      margin-bottom: double($base-spacing-unit);
    }
  }
}