/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/

.c-social-nav {
  @include mq($from: desktop) {
    text-align: right;
  }

  &__item {
    display: inline-block;
  }

  &__icon {
    fill: $color-text;
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }
}