/*------------------------------------*\
  Components > Subscribe Form
\*------------------------------------*/

.c-subscribe {
  padding: double($base-spacing-unit);
  text-align: center;
  background-color: $bg-gray;

  @include mq($from: desktop) {
    padding: quadruple($base-spacing-unit) 0;
  }
}

@include mq($until: desktop) {
  .c-subscribe-form__input {
    margin-bottom: $base-spacing-unit;
  }
}

@include mq($from: desktop) {
  .c-subscribe-form {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      flex: 8;
    }

    &__btn {
      position: relative;
      left: -1px;
      flex: 2;
    }
  }
}