/*------------------------------------*\
  Components > Tag Card
\*------------------------------------*/

.c-tag-card {
  position: relative;
  margin-bottom: $line-height-base;
  background-color: $bg-gray;

  &__image {
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;

    @include mq($from: tablet) {
      opacity: 0;
      transition: opacity $global-transition ease-in-out;

      &.is-inview {
        opacity: 1;
      }

      @media screen and ( -webkit-min-device-pixel-ratio: 0 ) {
        opacity: 1;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      content: '';
      background-color: $bg-dark-opacity;
      transition: $global-transition;
    }

    &:after {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: 75%;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: $base-spacing-unit;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    color: $color-white;
    text-shadow: $text-shadow;
  }

  @include attention() {
    .c-tag-card__image:before {
      background-color: $bg-dark-opacity-lighter;
    }
  }
}