<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{meta_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ function('pageTitle') }}</title>
    {{ wp_head }}
  </head>

  <body>
    <div class="js-off-canvas-container c-off-canvas-container">
      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
    </div>
    {{ wp_footer }}
  </body>
</html>
