<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{meta_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ function('pageTitle') }}</title>
    {{ wp_head }}

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '851966228277526');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=851966228277526&ev=PageView&noscript=1"/></noscript>
  <!-- End Facebook Pixel Code -->
  </head>

  <body>
    <div class="js-off-canvas-container c-off-canvas-container">
      {% block header %}
        {% include 'header.twig' %}
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block footer %}
        {% include 'footer.twig' %}
      {% endblock %}
    </div>
    {{ wp_footer }}
  </body>
</html>
